<?xml version="1.0"?>
<!-- Luc Fabresse, may 2015

How to use parameters from command line:

	roslaunch robulab gmapping.launch robot_name:=kompai2 
-->



<launch>
  <include file="$(find kobuki_node)/launch/minimal.launch" />

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" />

  <node pkg="turtlebot_tf" type="turtlebot_tf_node" name="turtlebot_tf_node" />

  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" >

    <param name="maxUrange" value="4.0"/>
    <!-- Map size / start point -->
    <param name="delta" value="0.05"/>
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="7.0"/>
    <param name="ymax" value="5.0"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="temporalUpdate" value="2.0"/>

  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robulab)/rviz_cfg/gmapping.rviz"/>
</launch>


